[Desktop Entry]
Comment=Turn Off the Monitor
Categories=Application;Utilities;
Exec=/home/igor/.local/bin/TurnOffMonitor.sh
GenericName=Turn Off Monitor
Icon=weather-clear-night
Name=Turn Off Monitor
NoDisplay=false
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
